@use "../../styles/mixins";

$system-grey: #D8D8D8;
$border-color: 2px #989898 solid;


.messeges {
    &__header {
        padding: 10px 15px;
        background-color: $system-grey;
        display: flex;
        border-bottom: $border-color;
        &__name {
            font-size: 14px;
            align-self: center;
        }
        img {
            @include mixins.img;
        }
    }
}