@use "../../styles/mixins";

$system-grey: #EBEDEF;
$border-color: 2px #989898 solid;


.messeges {
    &__header {
        padding: 10px 15px;
        background-color: $system-grey;
        display: flex;
        border-bottom: $border-color;
        position: relative;        
        &__name {
            font-size: 14px;
            align-self: center;
        }
        .aprove {
            width: 15px;
            height: 15px;
            position:absolute;
            bottom: 11px;
            left:52px;
        }
        img {
            @include mixins.img;
        }
    }
}