$system-grey: #D8D8D8;
$border-color: 2px #989898 solid;
@import url('../../styles/mixins.scss');

.icon {
    background: url('../../resources/icons/paper-plane-icon.webp');
}

.messeges {
    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: auto;
        background-color:  $system-grey;
        padding: 15px;
        &__button {
            padding: 7px;
            position: absolute;
            z-index: 2;
            border: none;
            cursor: pointer;
            transform: translateX(2px);
            right: 20px;
            top: 6px;
            background-color: white;
        }
        &__wrapper {
            position: relative;
        }
        &__input {
            min-height: 30px;
            border: $border-color;       
            border-radius: 16px;
            padding: 10px;
            width: 100%;        
            outline: none;
            background-color: white;

        }:active {
            background-color: white;
            border-radius: 16px;

        }
    }
}
