$system-grey: #D8D8D8;
$border-color: 2px #989898 solid;

@mixin img {
    display: block;            
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.icon {
    background: url('../../resources/icons/paper-plane-icon.webp');
}

.messeges {
    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: auto;
        background-color:  $system-grey;
        padding: 15px;
        &__button {
            padding: 7px;
            position: absolute;
            z-index: 2;
            border: none;
            cursor: pointer;
            transform: translateX(2px);
            right: 20px;
            top: 6px;
            background-color: white;
        }
        &__wrapper {
            position: relative;
        }
        // input {
        //     margin: 0px;
        //     padding: 0px;
        //     width: 100%;
        //     outline: none;
        //     height: 30px;
        //     border-radius: 5px;
        // }
         
        // button {
        //     position: absolute;
        //     top: 0;
        //     border-radius: 5px;
        //     right: 0px;
        //     z-index: 2;
        //     border: none;
        //     top: 2px;
        //     height: 30px;
        //     cursor: pointer;
        //     color: white;
        //     background-color: #1e90ff;
        //     transform: translateX(2px);
        // }
        &__input {
            min-height: 30px;
            border: $border-color;       
            border-radius: 16px;
            padding: 10px;
            width: 100%;        
            outline: none;
        }
    }
}
