@use "../../styles/mixins";


$system-grey: #D8D8D8;
$border-color: 2px #989898 solid;


.aside {
    &__list {
        &__header {
            font-weight: 400;
            color: #33CCFF;
            margin: 20px 0 30px 10px;
        }
        &__item {
            display: flex;
            padding: 15px 10px;
            border-bottom: $border-color;
            cursor: pointer;
            &:hover{
                background-color: #D3D3D3;
            }
            &__img {
                min-width: 15%;
                img {
                    @include mixins.img;
                }
            }
            &__text {
                min-width: 60%;
                &__name {
                    font-weight: 400;               
                }
                &__message {
                    font-weight: 300;
                    font-size: 14px;    
                    margin-top: 3px;           
                }
            }
            &__date {
                min-width: 25%;
                font-weight: 300px;
                font-size: 12px;
                padding-top: 3px;
            }
        }
    }
}